.person
  = form.select2(:person_id, {url: egov_utils.people_path}, {prompt: t('label_new')}, id: 'offender_person_id')
  .person-attributes
    = form.fields_for(:person, offender.person || EgovUtils::Person.new) do |fields|
      = render 'egov_utils/people/form', form: fields, person: fields.object

:javascript
  $(function(){
    eGovUtilities.toggableForm($('#offender_person_id'), 'person');
  });
