.person
  = form.select2(:person_id, {url: egov_utils.people_path}, {prompt: t('label_new')}, id: 'offender_person_id')
  .person-attributes
    = form.fields_for(:person, offender.person || EgovUtils::Person.new) do |fields|
      = render 'egov_utils/people/form', form: fields, person: fields.object

:javascript
  $(function(){
    function toggle_new_form($container, attr_names, toggle_state) {
      $container.closest('.'+attr_names).find('.'+attr_names+'-attributes').toggle(toggle_state)
      $container.closest('.'+attr_names).find('.'+attr_names+'-attributes :input').prop('disabled', !toggle_state)
    }

    var $person_select = $('#offender_person_id');

    toggle_new_form($person_select, 'person', !$person_select.val() || $person_select.val() == '');


    $person_select.on('select2:select', function(evt){
      toggle_new_form($(this), 'person', false)
    });
    $person_select.on('select2:unselect', function(evt){
      toggle_new_form($(this), 'person', true)
    });
  });
