/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css);
@import "font-awesome-sprockets";
@import "font-awesome";

$brand-primary: #2196f3;
$footer_height: 10rem;
$breadcrumb-divider: quote(">");

@import 'themes/sako_variables';

@import 'bootstrap';
@import 'themes/sako';
@import 'azahara_schema/schema_options';
@import 'egov_utils/egov_utils';
